<% layout("/layouts/boilerplate") -%>

<div class="row">
    <div class="col-8 offset-2">
        <h1>Create a New Listing</h1>
        <form class="needs-validation" method ="POST" action="/listings" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input required name="listing[title]" class="form-control" type="text" placeholder="Add a title">
                <div class="invalid-feedback">Enter a valid Title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea required name="listing[description]" class="form-control"></textarea>
                <div class="invalid-feedback">Enter a valid Description</div>
            </div>
            <div class="mb-3">
                <label for="image-url" class="form-label">Upload Image</label>
                <input type="file" name="listing[image][url]" class="form-control" required>            
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input required type="number" name="listing[price]" class="form-control" placeholder="Add a price">
                    <div class="invalid-feedback">Enter a valid Price</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">country</label>
                    <input required type="text" name="listing[country]" class="form-control" placeholder="Add a country">            
                    <div class="invalid-feedback">Enter a valid Country</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input required type="text" name="listing[location]" class="form-control" placeholder="Add a loaction">            
                <div class="invalid-feedback">Enter a valid Location</div>
            </div>
            <button class="btn btn-dark add-btn">Add</button>
            <br><br>
        </form>
    </div>
</div>
