body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height:5rem;
    background-color: white;
}

.fa-compass {
font-size: 2rem;
    color: #fe424d;
}
.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly; */
}

.f-info >div {
    width: 100%;
    padding-top: 1rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* card */
.listing-card {
    border: none !important;
    margin-bottom: 1rem;
}

.card-img-top {
    border-radius: 7px !important;
    width: 100%;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-show {
    border-radius: 7px !important;
    height: 40vh;
    object-fit: cover !important;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
    background-color: white;
}
.card-img-overlay:hover {
    opacity: 0.2;
}

.add-btn {
    border: none !important;
    background-color: #fe424d !important;
}
.text-area {
    height: 7rem;
}
/* Show Page */
.btn-show { 
    width: 100px ;
    margin-left: 50px;
}
.btns {
    display: flex;
}
.a-btn {
    padding: 5px 25px 0 25px !important;
}

/* EDIT PAGE */
.image{
    border-radius: 15px;
}

/* MAP */
#map {
    height: 500px;
    width: 500px;
}