<% layout("/layouts/boilerplate") -%>

<div class="row">
    <h1 class="col-6 offset-3">Signup on Wanderlust</h1>
    <div class="col-6 offset-3">
        <form class="needs-validation" action="/signup" method="POST" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input required id="username" name="username" class="form-control" type="text" placeholder="Enter a username">
                <div class="invalid-feedback">Enter a valid Username</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input required id="email" name="email" class="form-control" type="email" placeholder="Enter a email">
                <div class="invalid-feedback">Enter a valid Email</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required id="password" name="password" class="form-control" type="password" placeholder="Enter a password">
                <div class="invalid-feedback">Enter a valid Password</div>
            </div>
            <button class="btn btn-success">Sign Up</button>
        </form>
    </div>
</div>
